<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="DaoLogToFile" fileName="logs/db/dao.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="ua.maksym.hlushchenko.db.dao.sql" level="info" additivity="false">
            <AppenderRef ref="DaoLogToFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="DaoLogToFile"/>
        </Root>
    </Loggers>
</Configuration>
